<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Hacking-INF</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="shortcut icon" href="favicon.png" />
    <script type="text/javascript">
        __appLocation = "@Url.Content("~/").TrimEnd('/')";
    </script>
    @Styles.Render("~/bundles/css")

    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/scripts-extra")
</head>
<body>
    <my-app>
        <div class="container body-content">
            <div class="jumbotron">
                <h1>Hacking-INF is loading...</h1>
                <p class="lead">learn programming easily</p>
            </div>
        </div>
    </my-app>
    @Scripts.Render("~/bundles/angular")
</body>
</html>
